.modalContainerLogs {
}
.cartLogItem {
  margin-top: 10px;
}

.cartLogItem .card {
  padding: 5px ​10p;
}

.catTitle {
  font-size: 14px;
  margin: 5px 0 0;
}
.catMessage {
  font-size: 13px;
  margin: 5px 0 0;
}
